
<section class="text-gray-700 body-font mt-10 flex flex-col justify-center items-center">
  <div class="container mx-auto flex px-5 py-1 items-center justify-center flex-col">
    <h1 class="title-font text-center sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Explore Our Courses</h1>
    <p class="text-base text-center leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
      Dive into a variety of subjects with courses taught by top instructors.
    </p>
  </div>
</section>
<div class="container px-5 py-2 mx-auto flex items-center justify-end">
  <button
          class="bg-blue-500 hover:bg-blue-600 text-white flex items-center gap-1 font-bold py-2 px-4 rounded">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
         class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    Enroll
  </button>
</div>
<div *ngFor="let course of courses" class="course-card">
  <img [src]="course.thumbnailUrl" alt="{{ course.title }} Thumbnail" class="thumbnail" />

  <h2>{{ course.title }}</h2>
  <p><strong>Description:</strong> {{ course.description }}</p>
  <p><strong>Category:</strong> {{ course.category }}</p>
  <p><strong>Level:</strong> {{ course.level }}</p>
  <p><strong>Price:</strong> ${{ course.price }}</p>

  <div class="instructor-info">
    <p><strong>Instructor:</strong> {{ course.user.firstName }} {{ course.user.lastName }} ({{ course.user.role }})</p>
    <p><strong>Email:</strong> {{ course.user.email }}</p>
  </div>

  <!-- Check if course.module exists before accessing its length -->
  <p><strong>Modules:</strong> {{ course.module ? course.module.length : 0 }}</p>

  <!-- Iterate through modules if it exists -->
  <ul *ngIf="course.module && course.module.length > 0">
    <li *ngFor="let module of course.module">
      {{ module.title }} - {{ module.description }}
    </li>
  </ul>

  <hr />
</div>
