<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
          <ul>
            <li><a href="https://www.facebook.com/profile.php?id=61573905641153"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
          <a href="tel:+21652633414"><span class="lnr lnr-phone-handset"></span> <span class="text">+216 52 633 414</span></a>
          <a href="mailto:contact@unihelp.com"><span class="lnr lnr-envelope"></span> <span class="text">contact@unihelp.com</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a routerLink="/"><img src="assets/img/Frame 19.png" alt="UniHelp Logo" title="UniHelp" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a routerLink="/" routerLinkActive="active">HOME</a></li>

          <li class="menu-has-children"><a href="#" (click)="$event.preventDefault()">BLOGS</a>
            <ul>
              <li><a [routerLink]="['/blogs']">Blog List</a></li>
              <li><a [routerLink]="['/addblog']">Add Blog</a></li>
            </ul>
          </li>

          <li class="menu-has-children"><a href="#" (click)="$event.preventDefault()">EVENTS</a>
            <ul>
              <li><a routerLink="/events">All Events</a></li>
            </ul>
          </li>

          <li class="menu-has-children"><a href="#" (click)="$event.preventDefault()">GROUPS</a>
            <ul>
              <li><a routerLink="/groups">All Groups</a></li>
              <li><a routerLink="/create-group">Create Group</a></li>
              <li><a routerLink="/meetings">Meetings</a></li>
            </ul>
          </li>

          <li class="menu-has-children"><a href="#" (click)="$event.preventDefault()">COURSES</a>
            <ul>
              <li><a routerLink="/courses">All Courses</a></li>
            </ul>
          </li>

          <li class="menu-has-children"><a href="#" (click)="$event.preventDefault()">JOBS</a>
            <ul>
              <li><a routerLink="/job-offers">Job Offers</a></li>
              <li><a routerLink="/my-applications">My Applications</a></li>
            </ul>
          </li>
          <li *ngIf="!isLoggedIn" class="login-signup">
            <a routerLink="/login" class="btn btn-outline-primary">Login</a>
          </li>
          <li *ngIf="!isLoggedIn" class="login-signup">
            <a routerLink="/signup" class="btn btn-primary">Sign Up</a>
          </li>

          <li *ngIf="isLoggedIn" class="menu-has-children">
            <a href="#" (click)="$event.preventDefault(); toggleOptions()" class="user-profile-link">
              <div class="profile-image-container" *ngIf="currentUser">
                <img [src]="getProfileImageUrl(currentUser.profileImage)" alt="Profile" class="profile-image">
              </div>
              <div class="profile-image-container" *ngIf="!currentUser">
                <i class="fa fa-user"></i>
              </div>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul *ngIf="showOptions">
              <li><a routerLink="/profile">Profile</a></li>
              <li><a routerLink="/settings">Settings</a></li>
              <li><a routerLink="/activity">My Activity</a></li>
              <li><a routerLink="/courses">My Courses</a></li>
              <li><a routerLink="/applications">My Applications</a></li>
              <li><a (click)="toggleLoginState()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
