.chart-wrapper {
  position: relative;
  height: 300px;
}

.badge {
  &.badge-success {
    background-color: #4dbd74;
  }

  &.badge-danger {
    background-color: #f86c6b;
  }

  &.badge-info {
    background-color: #63c2de;
  }
}

.text-value {
  font-size: 2.5rem;
  font-weight: 600;
}
