<app-header></app-header>

<br><br><br><br><br><br>

<div class="container p-4">
  <div class="row p-4">
    <div class="input-group mb-3">
      <select class="form-select" style="max-width: 150px;" [(ngModel)]="selectedCategory" (change)="onFilterChange()">
        <option value="">All Categories</option>
        <option value="IT">IT</option>
        <option value="Science">Science</option>
        <option value="LifeStyle">LifeStyle</option>
        <option value="History">History</option>
        <option value="Psychology">Psychology</option>
      </select>
      <input 
        type="text" 
        class="form-control" 
        placeholder="Search..." 
        [(ngModel)]="searchQuery" 
        (input)="onFilterChange()"
      >
    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row mt-n5">
    <div *ngFor="let blog of filteredBlogs;" class="col-lg-4 col-md-6 col-sm-12 mb-5 wow fadeInUp">
      <div class="blog-grid">
        <div class="blog-grid-img position-relative">
          <img *ngIf="blog.imagepath; else placeholder" [src]="getImageUrl(blog.imagepath)" alt="{{ blog.title }}">
          <ng-template #placeholder>
            <img src="https://www.bootdey.com/image/480x480/00FFFF/000000" alt="Placeholder">
          </ng-template>
        </div>
        <div class="blog-grid-text p-4">
          <h3 class="h5 mb-3"><a [routerLink]="['/blog', blog.idBlog]">{{ blog.title }}</a></h3>
          <p class="display-30">{{ blog.content | slice:0:47 }}...</p>
          <div class="meta meta-style2">
            <ul>
              <li><i class="fa fa-user"></i> {{ blog.user?.firstName || 'User' }}</li>
              <li><i class="fa fa-comments"></i> {{ blog.comments?.length }}</li>
              <div *ngIf="isBlogDeletable(blog.userId)">
                <li><a (click)="DeleteBlog(blog.idBlog)"><i class="fa fa-trash"></i> Delete</a></li>
              </div>
              <div *ngIf="isBlogDeletable(blog.userId)">
                <li><a [routerLink]="['/editblog', blog.idBlog]"><i class="fa fa-edit"></i> Edit</a></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-6 wow fadeInUp" data-wow-delay=".6s">
    <div class="col-12">
      <div class="pagination text-small text-uppercase text-extra-dark-gray">
        <!-- Pagination logic here -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>