<div class="notif-wrapper">
  <button class="btn-bell" (click)="toggle()">
    🔔
    <span *ngIf="unreadCount > 0" class="badge">{{ unreadCount }}</span>
  </button>

  <div class="notif-popover" *ngIf="isOpen">
    <ul class="list-unstyled mb-0">
      <li *ngFor="let n of notifications"
          [class.unread]="!n.read"
          class="px-3 py-2">
        <div class="d-flex justify-content-between align-items-start">
          <div class="me-2" >
            <strong>{{ n.title }}</strong><br>
            <small>{{ n.createdAt | date:'shortTime' }}</small>
            <p class="mb-0">{{ n.message }}</p>
          </div>
          <div class="btn-group btn-group-sm" (click)="$event.stopPropagation()">
            <!-- Demande d’adhésion -->
            <button *ngIf="n.joinRequestId"
                    class="btn btn-success"
                    (click)="acceptRequest(n.joinRequestId!)">
              ✅ Accept
            </button>
            <button *ngIf="n.joinRequestId"
                    class="btn btn-danger"
                    (click)="rejectRequest(n.joinRequestId!)">
              ❌ Reject
            </button>

            <!-- Infraction / blocage -->
            <button *ngIf="!n.joinRequestId && n.offenderId"
                    class="btn btn-warning"
                    (click)="blockUser(n)">
              🔒Block
            </button>
          </div>
        </div>
        <hr class="my-1">
      </li>

      <li *ngIf="notifications.length===0"
          class="px-3 py-2 text-center text-muted">
        Aucune notification
      </li>
    </ul>
    <button class="btn-link" (click)="goToAll()">
      Voir toutes
    </button>
  </div>
</div>
