<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="jobs.html">Jobs</a></li>
              <li><a href="events.html">Events</a></li>
              <li><a href="courses.html">Courses</a></li>
              <li><a href="terms.html">Terms of Service</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Resources</h4>
            <ul>
              <li><a href="guides.html">Guides</a></li>
              <li><a href="research.html">Research</a></li>
              <li><a href="experts.html">Experts</a></li>
              <li><a href="support.html">Support</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h4>Newsletter</h4>
            <p>Stay updated with our latest news</p>
            <form target="_blank" action="#" method="get">
              <div class="input-group">
                <input type="email" class="form-control" name="EMAIL" placeholder="Enter Email Address" required>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <span class="lnr lnr-arrow-right"></span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom row align-items-center justify-content-between">
        <p class="footer-text m-0 col-lg-6 col-md-12">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | UniHelp</p>
        <div class="col-lg-6 col-sm-12 footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer Area -->